@import "tailwindcss";

/* Smooth scrolling */

html {
  scroll-behavior: smooth;
}

/* Theme */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Dark mode system */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Base body */

body {
  background: #ffffff;
  color: #111111;
  font-family: Arial, Helvetica, sans-serif;
}

/* Smooth transitions */

* {
  transition: all 0.2s ease;
}

/* Text selection */

::selection {
  background: #ff0000;
  color: white;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #111111;
}

/* Loader animation */

@keyframes floatLogo {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.08);
  }

  100% {
    transform: scale(1);
  }
}

.animate-pulse {
  animation: floatLogo 1.5s infinite ease-in-out;
}